<template>
  <div class="about">
    <h1 class="subheading grey--text">This is an about page</h1>

    <v-container class="my-5">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus optio, tempore et voluptate aspernatur sit suscipit ex eius nulla eligendi iure laborum molestias? Quaerat perferendis eum consequatur, alias rem facilis.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda veniam minima explicabo dolores maxime reiciendis modi ullam recusandae, sequi cumque itaque quos voluptatem commodi culpa dignissimos animi unde ea repudiandae.</p>

      <v-layout row class="mb-3">
        <v-tooltip top>
          <v-btn small flat color="grey" @click="sortBy('title')" slot="activator">
            <v-icon small left>folder</v-icon>
            <span class="caption text-lowercase">By Project Name</span>
          </v-btn>
          <span>Sort projects by project name</span>
        </v-tooltip>
        
        <v-tooltip top>
          <v-btn small flat color="grey" @click="sortBy('person')" slot="activator">
            <v-icon small left>person</v-icon>
            <span class="caption text-lowercase">By person</span>
          </v-btn>
          <span>Sort projects by project name</span>
        </v-tooltip>
      </v-layout>

      <v-card flat v-for="project in projects" :key="project.title">
        <!-- ngambil key buat class -->
        <v-layout row wrap :class="`pa-3 project ${project.status}`">
          <v-flex xs12 md6>
            <div class="caption grey--text">About Title</div>
            <div>{{ project.title }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Person</div>
            <div>{{ project.person }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="caption grey--text">Due By</div>
            <div>{{ project.due }}</div>
          </v-flex>
          <v-flex xs6 sm4 md2>
            <div class="right">
              <v-chip small :class="`${project.status} white--text caption my-2`">
                <v-avatar>
                  <v-icon>account_circle</v-icon>
                </v-avatar>
                {{ project.status }}</v-chip>
            </div>
          </v-flex>
        </v-layout>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import db from '@/fb'

export default {
  data(){
    return {
      projects: [
        {
          title: 'Pegipegi',
          person: 'Jules Oustin',
          due : '20 Jan 2018',
          status : 'progress'
        },
        {
          title: 'Tokopedia',
          person: 'Daniel Washington',
          due : '20 Jan 2019',
          status : 'completed'
        },
        {
          title: 'Bukalapak',
          person: 'David Beckham',
          due : '20 May 2019',
          status : 'completed'
        },
        {
          title: 'Traveloka',
          person: 'John Doe',
          due : '20 May 2020',
          status : 'pending'
        }
      ]
      
    }
  },
  methods:{
    sortBy(prop){
      this.projects.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
    }
  },
  created(){
    db.collection('projects').onSnapshot( res => {
      const changes = res.docChanges();

      changes.forEach( change => {
        if( change.type === 'added' )
        this.projects.push({
          ...change.doc.data(),
          id: change.doc.id
        })
      } )
    } )
  }
}
</script>
<style>
  .project.progress{
    border-left : 4px solid #f97432;
  }
  .project.completed{
    border-left : 4px solid darkcyan;
  }
  .project.pending{
    border-left : 4px solid green
  }
  .v-chip.progress{
    background: #f97432;
  }
  .v-chip.completed{
    background: darkcyan;
  }
  .v-chip.pending{
    background: green
  }
</style>