<template>
  <div>
    <!--- Swapi -->
    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="post in posts" :key="post.name">
          <v-card flat class="text-xs-center ma-3">  
            <v-responsive class="pt-4">
              <!-- <v-avatar>
                <img :src="post.thumbnailUrl" alt="">
              </v-avatar> -->
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ post.name }}</div>
              <div class="grey--text">{{ post.eye_color }}</div>
            </v-card-text>
            <!-- <v-card-actions>
              <v-btn flat color="grey">
                <v-icon small left>message</v-icon>
                <span>message</span>
              </v-btn>
            </v-card-actions> -->
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
  
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      posts: []
    }
  },
  mounted(){
    let self = this;
    axios.get('https://swapi.co/api/people')
    //axios.get('https://jsonplaceholder.typicode.com/users')
    .then(function(res){
      self.posts = res.data.results
      //self.posts.push(...res.data)
      console.log(res.data.results)
      //console.log('Data', res.data)
    })
    .catch(function(error){
      console.log('error: ', error)
    })
  }
}
</script>
