<template>
  <v-container class="my-6" grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs6 sm6 md3 v-for="team in teams" :key="team.name">
        <v-card flat class="pa-3 text-xs-center">
            <v-responsive class="pt-4">
                <v-avatar size="100" class="grey lighten-2">
                    <img :src="team.image" alt="">
                </v-avatar>
            </v-responsive>
            <!-- <img :src="product.image" alt=""> -->
            <div class="subheading font-weight-light">{{ team.name }}</div>
          <div class="body-2">{{ team.role }}</div>
          <!-- <v-btn class="success white--text right">Pesan</v-btn> -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data(){
      return{
        teams:[
            {
                name : 'Tsubasa Ozora',
                role : 'Web developer',
                image : '/tsubasa.png'
            },
            {
                name : 'Ran Mouri',
                role : 'Graphic Designer',
                image : '/ran.JPG'
            },
            {
                name : 'Kaede Rukawa',
                role : 'Front end Developer',
                image : '/rukawa.jpg'
            },
            {
                name : 'Conan edogawa',
                role : 'Web developer',
                image : '/conan.png'
            },
            {
                name : 'Bezita',
                role : 'Backend Developer',
                image : '/bezita.jpg'
            },
            {
                name : 'Kakashi',
                role : 'Android Developer',
                image : '/kakashi.jpg'
            },
            {
                name : 'Shinchan',
                role : 'iOS Developer',
                image : '/shinchan.jpg'
            }
        ]
      }
    }
  }
</script>