<template>
    <nav>

        <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
            <span>Awesome you add new project</span>
            <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
        </v-snackbar>
        <v-toolbar flat app class="light-blue ">
            <v-toolbar-side-icon class="white--text" @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="text-uppercase  white--text">
                <span class="font-weight-light">sewa</span>
                <span>mania</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <!-- dropdown menu -->
            <v-menu>
                <v-btn flat slot="activator" color="white">
                    <v-icon left>expand_more</v-icon>
                    <span>Menu</span>
                </v-btn>
                <v-list>
                    <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
                        <v-list-tile-title>{{ link.text }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <v-btn flat color="white" small>
                <span>Sign in</span>
            </v-btn>
        </v-toolbar>

        <v-navigation-drawer v-model="drawer" app class="blue-grey darken-4" width="200">
            <v-layout column align-center>
                <v-flex class="mt-5">
                    <v-avatar size="100">
                        <img src="/shinchan.jpg" alt="">
                    </v-avatar>
                    <p class="white--text subheading mt-1">Crayon Shinchan</p>
                </v-flex>
                <v-flex class="mt-4 mb-3">
                    <Popup @projectAdded="snackbar=true" />
                </v-flex>
            </v-layout>
            
            <v-list class="white--text">
                <v-list-tile v-for="link in links" :key="link.text" router :to="link.route" class="white--text">
                    <v-list-tile-action>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ link.text }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
import Popup from './Popup'

export default {
    components:{ Popup },
    data() {
        return {
            drawer: false,
            links: [
                { text: 'Home', icon: 'dashboard', route:'/' },
                { text: 'HotList', icon: 'question_answer', route:'/hotlist' },
                { text: 'About', icon: 'contact_mail', route:'/about' },
                { text: 'Team', icon: 'contact_mail', route:'/team' }
                ],
            right: null,
            snackbar:false
        }
    }
}
</script>

<style>
    .theme--light.v-icon{
        color: silver
    }
</style>

