<template>
    <v-dialog max-width="600px" v-model="dialog">
        <v-btn flat slot="activator" class="success">Add new project</v-btn>
        <v-card>
            <v-card-title>
                <h2>Add a New Project</h2>
            </v-card-title>
            <v-card-text>
                <v-form class="px-3" ref="form">
                    <v-text-field label="Title" v-model="title" prepend-icon="folder" :rules="inputRules"></v-text-field>
                    <v-textarea label="Information" v-model="content" prepend-icon="edit" :rules="inputRules"></v-textarea>
                    <v-flex xs12 sm6 md4>

                    <v-menu
                        ref="menu"
                        :close-on-content-click="false"
                        v-model="menu"
                        :nudge-right="40"
                        :return-value.sync="date"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <v-text-field
                        :rules="inputRules"
                        slot="activator"
                        :value="formattedDate"
                        label="Due Date"
                        prepend-icon="event"
                        ></v-text-field>
                        <v-date-picker v-model="due" no-title scrollable color="blue" @input="menu = false">
                        <v-spacer></v-spacer>
                        <!-- <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn> -->
                        </v-date-picker>
                    </v-menu>
                    </v-flex>

                    <v-spacer></v-spacer>

                    <v-btn flat class="success mx-0 mt-3" @click="submit" :loading="loading">Add Project</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import format from 'date-fns/format'
import db from '@/fb'

export default {
    data(){
        return {
            title : '',
            content: '',
            due: null,
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            menu2: false,
            inputRules: [
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ],
            loading: false,
            dialog : false
        }
    },
    methods: {
        submit(){
            if(this.$refs.form.validate()){
                this.loading = true;
                const project = {
                    title : this.title,
                    content : this.content,
                    due : format(this.due, 'D MM YYYY'),
                    person : 'Dedi',
                    status : 'pending'
                }

                db.collection('projects').add(project).then(() => {
                    this.loading = false;
                    this.dialog = false;
                    this.$emit('projectAdded')
                })
            }
            
        }
    },
    computed: {
        // documentation - https://date-fns.org/v1.9.0/docs/format
        formattedDate(){
            return this.due ? format(this.due, 'D MMM YYYY') : ''
        }
    }
}
</script>
